<html>
   <head>
        <!Provide path to link to styling file, image files and 3rd party javascript library––>
        <link rel='stylesheet' href="{{ url_for('static', filename='css/style.css') }}">
        <img id="motionsensoriconblue" src="{{url_for('static', filename='images/MotionSensorIconBlue.png')}}" style="display: none;">
        <img id="motionsensoriconred" src="{{url_for('static', filename='images/MotionSensorIconRed.png')}}" style="display: none;">
        <img id="WindowOpen" src="{{url_for('static', filename='images/WindowOpen.png')}}" style="display: none;">
        <img id="WindowClose" src="{{url_for('static', filename='images/WindowClose.png')}}" style="display:none;">
        <img id="WindowBreak" src="{{url_for('static', filename='images/WindowBreak.png')}}" style="display:none;">
        <img id= "WindowNotBreak" src="{{url_for('static', filename='images/WindowNotBreak.png')}}" style="display: none;">


        <!Use of Javascript library socket.io.js to connect to the python web server––>
        <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js'></script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.2/socket.io.js'></script>
        <script type='text/javascript'>
        $(document).ready(function()
        {
	        var socket = io.connect('http://192.168.1.167:5000');

            var WindowDispalyCanvas = document.getElementById("leftCanvas");
            var WindowDisplayContext =  WindowDispalyCanvas.getContext("2d");
            var WindowOpenImage = document.getElementById("WindowOpen");
            var WindowCloseImage = document.getElementById("WindowClose");

            var motionCanvas = document.getElementById("centerCanvas");
            var motionContext = motionCanvas.getContext("2d");
            var motionSensorIconBlueImage = document.getElementById("motionsensoriconblue");
            var motionSensorIconRedImage = document.getElementById("motionsensoriconred");

            var WindowDetectStatusCanvas = document.getElementById("rightCanvas");
            var WindowDetectStatusContext = WindowDetectStatusCanvas.getContext("2d");
            var WindowBreakImage = document.getElementById("WindowBreak");
            var WindowNotBreakImage = document.getElementById("WindowNotBreak");
			
            var BlinkingFlagStatus = 0;
            var WindowOpenTurning;
            var WindowRotateCount = 0;
            var WindowOpenCloseStatus = 0;
            var WindowBreakNoBreakStatus = 0;
            var WindowDisplayStatus = 0;
            


            console.log("App Started");
            //Image Printing
            WindowDisplayContext.drawImage(WindowCloseImage, 100,78)
            motionContext.drawImage(motionSensorIconBlueImage, 130, 90);
            WindowDetectStatusContext.drawImage(WindowNotBreakImage,130,90);

            //Event triggered when python web server received data from BBBW1
            socket.on('Web_windowdisplayEvent', function(RxData) 
            {
                $('windowdisplay').text(RxData.data); 
                console.log("Window Event Triggered!!"); 
                if(WindowOpenCloseStatus == 1)
	            {
	                WindowDisplay_OpenCloseCheck(RxData.data);
	            }
            });
	        
            //Event triggered when python web server received data from BBBW1
            socket.on('Web_motionEvent', function(RxData) 
            {
                $('motion').text(RxData.data);
	            MotionDetection_BlinkImage();
                console.log("MOTION!!");

            });  
            
            //Event triggered when python web server received data from BBBW1
            socket.on('Web_windowdetectEvent', function(RxData) 
            {
                $('windowdetect').text(RxData.data);
                if(WindowBreakNoBreakStatus == 1)
	            {
	                WindowDetection_BreakNoBreakCheck(RxData.data);
	            }
            });

            

            //WindowOpenTurningAnimation Function
            function WindowOpenTurningAnimation()
            {           
	            WindowRotateCount++;
	            if (WindowRotateCount == 17)
	            {  
	                WindowRotateCount = 0;
	                WindowDisplayContext.clearRect(0, 0, 200, 155);
	                WindowDisplayContext.drawImage(WindowOpenImage, 100, 70);
	                WindowOpenCloseStatus = 1;
	                clearInterval(WindowOpenTurning);
	            }				
            }

            //WindowDisplay_OpenCloseCheck Function
            function WindowDisplay_OpenCloseCheck(WindowDisplayStatus)
            {
                if (WindowDisplayStatus == 1)
	            {
	                WindowDisplayContext.globalAlpha = 1.0;
	                WindowDisplayContext.clearRect(0, 0, 200, 155);
	                WindowDisplayContext.drawImage(WindowCloseImage, 100, 78);
	            }
	            else
	            {
	                WindowDisplayContext.globalAlpha = 1.0;
	                WindowDisplayContext.clearRect(0, 0, 200, 155);
	                WindowDisplayContext.drawImage(WindowOpenImage, 100,70);
	            }
            }

        
            //MotionDetection_BlinkImage Function
            //Toggle between motionSensorIconBlueImage & motionSensorIconRedImage when motion is detected
            function MotionDetection_BlinkImage()
            {
                //Clear the existing image
	            motionContext.globalAlpha = 1.0;
	            motionContext.clearRect(0, 0, 200, 155);
	
	            if (BlinkingFlagStatus == 1 )
	            {
	                motionContext.drawImage(motionSensorIconRedImage, 130,90);
                    console.log(BlinkingFlagStatus);
	            }
	            else
	            {
	                 motionContext.drawImage(motionSensorIconBlueImage, 130, 90);	
                     console.log(BlinkingFlagStatus);
	            }
            }

            //WindowDetection_OpenCloseCheck Function
            function WindowDetection_BreakNoBreakCheck(WindowDetectionStatus)
            {
                if (WindowDetectionStatus == 1)
	            {
	                WindowDetectStatusContext.globalAlpha = 1.0;
                    WindowDetectStatusContext.clearRect(0, 0, 200, 155);
                    WindowDetectStatusContext.drawImage( WindowBreakImage, 100, 78);
	            }
	            else
	            {
                    WindowDetectStatusContext.globalAlpha = 1.0;
                    WindowDetectStatusContext.clearRect(0, 0, 200, 155);
	                WindowDetectStatusContext.drawImage (WindowNotBreakImage, 100,70);
	            }
            }

        });   
        </script>
   </head>

   <body>
        <center>
            <h1>Intruder Detection</h1>
            
            <table>
            <tr>
                <td>
                    <h5>Window Display</h5>
                    <canvas id="leftCanvas" width="350" height="400" >
                       Your browser does not support the HTML5 canvas tag.
                    </canvas>
                </td>
                <td>
	                <h5>Motion Dectection</h5>
                    <canvas id="centerCanvas" width="350" height="400">
                        Your browser does not support the HTML5 canvas tag.
                    </canvas>
                </td>
                <td>
                    <h5>Window Detection</h5>
                    <canvas id="rightCanvas" width="350" height="400" >
                       Your browser does not support the HTML5 canvas tag.
                    </canvas>
                </td>
            </tr>
            </table>
                <h5>Copyright @ EGE205 Connected System Project Design</h5>
        <center>
    </body>
</html>
     